* {
  color: #000;
  --midnight-blue: #1e1f26;
  --indigo-ink: #283655;
  --blueberry: #4d648d;
  --violet-blue: #d0e1f9;

  --white: #fff;
  --black: #000;

  --ghost-white: #f6f8fa;
  --lavender-gray: #c3ccd3;
  --cadet-grey: #8EA6B2;
  --deep-space-sparkle: #47646f;
  --gunmetal: #1E383C;
}

.page {
  align-items: center;
  flex-direction: column;
  //background-color: #1c3334;
}

.action-bar-title {
  font-weight: bold;
  font-size: 17;
}

.action-bar-dark {
  background-color: var(--indigo-ink);
  .action-bar-title {
    color: var(--ghost-white);
  }
}

.action-bar-light {
  background-color: var(--deep-space-sparkle);
  .action-bar-title {
    color: var(--ghost-white);
  }
}

.dark-page {
  background-color: var(--midnight-blue);
}

.light-page {
  background-color: var(--lavender-gray);
}

.title-light {
  color: var(--gunmetal);
}

.title-dark {
  color: var(--blueberry);
}

.text-light {
  color: var(--black);
}

.text-dark {
  color: var(--violet-blue);
}

.btn-light {
  background-color: var(--ghost-white);
  color: var(--gunmetal);
}

.btn-dark {
  background-color: var(--blueberry);
  color: var(--white);
}

.title-small {
  font-size: 25;
}

.title-large {
  font-size: 28;
}

.title {
  white-space: normal;
  text-align: center;
  font-size: 25;
  margin-top: 30px;
  font-weight: bold;
}

.description {
  white-space: normal;
  text-align: center;
  font-size: 20;
  margin-top: 40px;
  font-weight: bold;
}

.field {
  white-space: normal;
  text-align: left;
  font-size: 17;
  margin-top: 65px;
  margin-left: 30px;
  line-height: 15px;
}

.description-margin {
  margin-top: 40px;
}

.action-bar-title {
  margin-right: 150px;
}

.list-group {
  width: 100%;
}

.list-group-item {
  color: #fff;
}

.btn {
  height: 9%;
  margin-top: 65px;
  font-weight: bold;
  border-radius: 20%;
  font-size: 20;
}
