* {
  color: #000;
  --midnight-blue: #1e1f26;
  --indigo-ink: #283655;
  --blueberry: #4d648d;
  --violet-blue: #d0e1f9;

  --white: #fff;
  --black: #000;

  --ghost-white: #f6f8fa;
  --lavender-gray: #c3ccd3;
  --cadet-grey: #8EA6B2;
  --deep-space-sparkle: #47646f;
  --gunmetal: #1E383C;
}

.page {
  align-items: center;
  flex-direction: column;
  //background-color: #1c3334;
}

.action-bar-title {
  font-weight: bold;
  font-size: 17;
}

.action-bar-dark {
  background-color: var(--indigo-ink);
  .action-bar-title {
    color: var(--ghost-white);
  }

  .fas {
    color: var(--ghost-white);
  }
}

.action-bar-light {
  background-color: var(--deep-space-sparkle);
  .action-bar-title {
    color: var(--ghost-white);
  }

  .fas {
    color: var(--ghost-white);
  }
}

.dark-page {
  background-color: var(--midnight-blue);
}

.light-page {
  background-color: var(--lavender-gray);
}

.input-light {
  border-bottom-color: var(--deep-space-sparkle);
  placeholder-color: var(--deep-space-sparkle);
  color: var(--gunmetal);
}

.input-dark {
  border-bottom-color: var(--blueberry);
  placeholder-color: var(--blueberry);
  color: var(--violet-blue);
}

.btn-light {
  background-color: var(--ghost-white);
  color: var(--gunmetal);
}

.btn-dark {
  background-color: var(--blueberry);
  color: var(--white);
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.input {
  font-size: 15em;
  padding-bottom: 5%;
}

.input-field {
  margin-bottom: 70px;
  width: 80% !important;
}

.input-bottom {
  margin-bottom: 10%;
}

.btn {
  height: 9%;
  font-weight: bold;
  border-radius: 20%;
  font-size: 20;
}

.for-background {
  border-radius: 40px;
  margin-top: 70px;
  border: none;
  padding: 30px;
}
