* {
  color: #000;
  --midnight-blue: #1e1f26;
  --indigo-ink: #283655;
  --blueberry: #4d648d;
  --violet-blue: #d0e1f9;

  --white: #fff;
  --black: #000;

  --ghost-white: #f6f8fa;
  --lavender-gray: #c3ccd3;
  --cadet-grey: #8EA6B2;
  --deep-space-sparkle: #47646f;
  --gunmetal: #1E383C;
}

.page {
  align-items: center;
  flex-direction: column;
  //background-color: #1c3334;
}

.action-bar-title {
  font-weight: bold;
  font-size: 17;
}

.action-bar-dark {
  background-color: var(--indigo-ink);
  .action-bar-title {
    color: var(--ghost-white);
  }

  .fas {
    color: var(--ghost-white);
  }
}

.action-bar-light {
  background-color: var(--deep-space-sparkle);
  .action-bar-title {
    color: var(--ghost-white);
  }

  .fas {
    color: var(--ghost-white);
  }
}

.dark-page {
  background-color: var(--midnight-blue);
}

.light-page {
  background-color: var(--lavender-gray);
}

.title {
  white-space: normal;
  text-align: center;
  font-size: 17;
  font-weight: bold;
}

.author {
  white-space: normal;
  text-align: right;
  font-size: 15;
  font-weight: bold;
  margin-top: 45px;
  margin-right: 30px;
}

.year {
  white-space: normal;
  text-align: center;
  font-size: 15;
  font-weight: bold;
  margin-top: 45px;
}

.field {
  white-space: normal;
  text-align: left;
  font-size: 17;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 30px;
}

.list-group {
  width: 90%;
}

.list-group-item {
  border-radius: 20px;
  border-width: 3;
}

.dark-group {
  background-color: var(--blueberry);
  .text-dark {
    color: var(--violet-blue);
  }
  .title-dark {
    color: var(--white);
  }
}

.light-group {
  background-color: var(--ghost-white);
  .text-light {
    color: var(--deep-space-sparkle);
  }
  .title-light {
    color: var(--gunmetal);
  }
}
